.events {
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal-content {
  padding: 10px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button[nz-button] {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}
