.establecimientos-container {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
}

.establecimientos-list {
  display: flex;
  gap: 12px;
}

.establecimiento-card {
  min-width: 250px;
  flex-shrink: 0;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.card {
  width: 300px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

app-simple-map {
  width: 100%;
  max-width: 450px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.date-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #cecece;
  border-radius: 10px;
  background: #fff;
}

.date-picker-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.date-picker-subtitle {
  font-size: 1rem;
  margin-bottom: 14px;
}

.title-h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: red;
}
.custom-button {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #1890ff;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;

  &:hover {
    background-color: #40a9ff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  i {
    margin-right: 8px;
  }
}
