<nz-layout class="app-layout h-screen">
  <!-- Sidebar -->
  <nz-sider class="sider" [nzWidth]="250" nzTheme="light">
    <div class="sider-header">
      @if (tokenResponse) {
      <div class="right-section">
        <nz-avatar
          *ngIf="tokenResponse.photoUrl"
          [nzSrc]="tokenResponse.photoUrl"
          [nzSize]="40"
          nzIcon="user"
        >
        </nz-avatar>
        <nz-avatar
          *ngIf="!tokenResponse.photoUrl"
          [nzText]="tokenResponse.displayName"
          [nzSize]="40"
          nzIcon="user"
        >
        </nz-avatar>
        <h3>{{ tokenResponse.displayName }}</h3>
      </div>
      }
      <h1>Chats</h1>
      <br />
      <button
        class="input-radius"
        (click)="createChat()"
        nz-button
        nzType="primary"
        nzBlock
      >
        Nuevo Chat
      </button>
    </div>
    <ul class="chat-list">
      @for (chat of chats; track $index) {
      <li class="chat-item" (click)="selectChat(chat)">
        <nz-avatar nzText="{{ chat.chatName[0] }}"></nz-avatar>
        <span>{{ chat.chatName }}</span>
      </li>
      }
    </ul>
  </nz-sider>

  <!-- Main Layout -->
  <nz-layout>
    <!-- Content -->
    <nz-content class="chat-content">
      <div class="header-container">
        <div class="left-section">
          <h1>{{ selectedChat?.chatName || "Bienvenido" }}</h1>
        </div>
        @if (tokenResponse) {
        <div class="right-section">
          <button
            nz-button
            nzType="dashed"
            nzShape="circle"
            nzDanger
            (click)="logout()"
          >
            <span nz-icon nzType="logout" nzTheme="outline"></span>
          </button>
        </div>
        }
        <br />
      </div>
      <div class="messages-container">
        <div *ngIf="messages.length === 0" class="no-messages">
          <div class="welcome-icon">👋</div>
          <h2>¡Bienvenido a tu chat!</h2>
          <p>Aquí podrás conversar y compartir información.</p>
          <div class="button-group">
            <button
              class="input-radius"
              (click)="openModalRegister()"
              nz-button
              nzType="primary"
            >
              Crear usuario
            </button>
            <button
              class="input-radius"
              (click)="openModalLoginView()"
              nz-button
              nzType="default"
            >
              Iniciar sesión
            </button>
          </div>
        </div>

        <div *ngFor="let message of messages" class="message-wrapper">
          <div
            class="message"
            [ngClass]="{
              sent: message.type === chatTypeEnum.user,
              received: message.type === chatTypeEnum.bot
            }"
          >
            <span>{{ message.text }}</span>
          </div>
        </div>
      </div>
    </nz-content>

    <!-- Footer -->
    <nz-footer class="chat-footer">
      <nz-input-group
        class="input-radius"
        [nzSuffix]="suffixButton"
        nzSize="large"
      >
        <input
          type="text"
          nz-input
          [(ngModel)]="newMessage"
          placeholder="Escribe tu mensaje..."
          (keyup.enter)="sendMessage()"
        />
      </nz-input-group>
      <ng-template #suffixButton>
        <button
          class="input-radius"
          nz-button
          nzType="primary"
          [nzLoading]="sending"
          (click)="sendMessage()"
        >
          Enviar
        </button>
      </ng-template>
    </nz-footer>
  </nz-layout>
</nz-layout>

<!-- Register user modal -->
<nz-modal
  [(nzVisible)]="openModal"
  nzTitle="Registra tu usuario"
  (nzOnCancel)="cancel()"
  (nzOnOk)="register()"
  [nzWidth]="750"
>
  <ng-container *nzModalContent>
    <nz-row [nzGutter]="[12, 12]" style="justify-content: center">
      <nz-col nzXs="24" nzMd="20">
        <form nz-form [formGroup]="registerForm">
          <nz-row [nzGutter]="[12, 12]">
            <!-- The id card -->
            <nz-col nzXs="24" nzMd="24">
              <nz-form-item>
                <nz-form-label nzRequired nzSpan="24"
                  >Identificación</nz-form-label
                >
                <nz-form-control
                  nzErrorTip="Identificación no válido"
                  class="custom-error-tip-left"
                >
                  <input
                    class="input-radius"
                    type="text"
                    nz-input
                    formControlName="idCard"
                    placeholder="Ejemplo: 0105957811"
                  />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row [nzGutter]="[12, 12]">
            <!-- The first name -->
            <nz-col nzXs="24" nzMd="12">
              <nz-form-item>
                <nz-form-label nzRequired nzSpan="24">Nombres</nz-form-label>
                <nz-form-control
                  nzErrorTip="Nombre no válido"
                  class="custom-error-tip-left"
                >
                  <input
                    class="input-radius"
                    type="text"
                    nz-input
                    formControlName="firstName"
                    placeholder="Ejemplo: Esteban"
                  />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <!-- The last name -->
            <nz-col nzXs="24" nzMd="12">
              <nz-form-item>
                <nz-form-label nzRequired nzSpan="24">Apellidos</nz-form-label>
                <nz-form-control nzErrorTip="Apellidos no válidos">
                  <input
                    class="input-radius"
                    type="text"
                    nz-input
                    formControlName="lastName"
                    placeholder="Ejemplo: Bacuilima"
                  />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row [nzGutter]="[12, 12]">
            <!-- The mail -->
            <nz-col nzXs="24" nzMd="12">
              <nz-form-item>
                <nz-form-label nzRequired nzSpan="24">Correo</nz-form-label>
                <nz-form-control
                  nzErrorTip="Correo no válido"
                  class="custom-error-tip-left"
                >
                  <input
                    class="input-radius"
                    type="text"
                    nz-input
                    formControlName="email"
                    placeholder="Ejemplo: correo@gmail.co."
                  />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <!-- The password -->
            <nz-col nzXs="24" nzMd="12">
              <nz-form-item>
                <nz-form-label nzRequired nzSpan="24">Contraseña</nz-form-label>
                <nz-form-control nzErrorTip="Contraseña no válido">
                  <input
                    class="input-radius"
                    type="text"
                    nz-input
                    formControlName="password"
                    placeholder="Ejemplo: Abc123.@"
                  />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
        </form>
      </nz-col>
    </nz-row>
  </ng-container>
</nz-modal>

<!-- Login user modal -->
<nz-modal
  [(nzVisible)]="openModalLogin"
  nzTitle="Iniciar sesión"
  (nzOnCancel)="closeLogin()"
  (nzOnOk)="singIn()"
  [nzWidth]="750"
>
  <ng-container *nzModalContent>
    <nz-row [nzGutter]="[12, 12]" style="justify-content: center">
      <nz-col nzXs="24" nzMd="20">
        <form nz-form [formGroup]="singInForm">
          <nz-row [nzGutter]="[12, 12]">
            <!-- The mail -->
            <nz-col nzXs="24" nzMd="12">
              <nz-form-item>
                <nz-form-label nzRequired nzSpan="24">Correo</nz-form-label>
                <nz-form-control
                  nzErrorTip="Correo no válido"
                  class="custom-error-tip-left"
                >
                  <input
                    class="input-radius"
                    type="text"
                    nz-input
                    formControlName="email"
                    placeholder="Ejemplo: correo@gmail.co."
                  />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <!-- The password -->
            <nz-col nzXs="24" nzMd="12">
              <nz-form-item>
                <nz-form-label nzRequired nzSpan="24">Contraseña</nz-form-label>
                <nz-form-control nzErrorTip="Contraseña no valida">
                  <input
                    class="input-radius"
                    type="text"
                    nz-input
                    formControlName="password"
                    placeholder="Ejemplo: Abc123.@"
                  />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
        </form>
      </nz-col>
    </nz-row>
  </ng-container>
</nz-modal>
