<nz-layout class="app-layout h-screen">
  <!-- Sidebar -->
  <nz-sider class="sider" [nzWidth]="250" nzTheme="light">
    <div class="sider-header">
      <h3>Chats</h3>
      <br />
      <button class="input-radius" nz-button nzType="primary" nzBlock>
        Nuevo Chat
      </button>
    </div>
    <ul class="chat-list">
      @for (chat of chats; track $index) {
      <li class="chat-item" (click)="selectChat(chat)">
        <nz-avatar nzText="{{ chat.chatName[0] }}"></nz-avatar>
        <span>{{ chat.chatName }}</span>
      </li>
      }
    </ul>
  </nz-sider>

  <!-- Main Layout -->
  <nz-layout>
    <!-- Content -->
    <nz-content class="chat-content">
      <div class="chat-header">
        <h3>{{ selectedChat?.chatName || "Bienvenido" }}</h3>
      </div>
      <div class="messages-container">
        <div *ngIf="messages.length === 0" class="no-messages">
          <div class="welcome-icon">👋</div>
          <h2>¡Bienvenido a tu chat!</h2>
          <p>Aquí podrás conversar y compartir información.</p>
        </div>
        <div *ngFor="let message of messages" class="message-wrapper">
          <div
            class="message"
            [ngClass]="{
              sent: message.type === chatTypeEnum.user,
              received: message.type === chatTypeEnum.bot
            }"
          >
            <span>{{ message.text }}</span>
          </div>
        </div>
      </div>
    </nz-content>

    <!-- Footer -->
    <nz-footer class="chat-footer">
      <nz-input-group
        class="input-radius"
        [nzSuffix]="suffixButton"
        nzSize="large"
      >
        <input
          type="text"
          nz-input
          [(ngModel)]="newMessage"
          placeholder="Escribe tu mensaje..."
          (keyup.enter)="sendMessage()"
        />
      </nz-input-group>
      <ng-template #suffixButton>
        <button
          class="input-radius"
          nz-button
          nzType="primary"
          [nzLoading]="sending"
          (click)="sendMessage()"
        >
          Enviar
        </button>
      </ng-template>
    </nz-footer>
  </nz-layout>
</nz-layout>
