<!-- <app-catalog-service-list /> -->
<app-carousel></app-carousel>

<!-- <app-test></app-test> -->

@for (section of sections; track section.id) {

<div class="container">
    <div class="header">
        <h1 class="title">
            <span>{{geName(section.name, true) }}</span>
            <span>{{geName(section.name, false) }}</span>
        </h1>
        <div class="nav-buttons">
            <button class="nav-button prev">←</button>
            <button class="nav-button next">→</button>
        </div>
    </div>

    <div class="products-container">
        <div class="products">
            @for (ps of section.productSections; track $index) {

            <div class="product-card">
                <div class="product-image">
                    <img [src]="getImage(ps)" alt="JP CHENET FASHION LITCHI">
                </div>
                <div class="product-info">
                    <h3 class="product-title">{{''+ps?.product?.name}}</h3>
                    <p class="product-brand">{{''+ps?.product?.brand?.name}}</p>
                    <p class="product-price"> $ {{ calculateDiscount(ps?.product?.price?? 0, ps?.product?.percentage) }}
                    </p>
                    <button class="buy-button"
                        (click)="navigateTo('/public/home/product-detail/'+ps?.product?.code)">Comprar</button>
                </div>
            </div>
            }
        </div>
    </div>
</div>
}