 @keyframes fadeInUp {
     0% {
         opacity: 0;
         transform: translateY(20px);
     }

     100% {
         opacity: 1;
         transform: translateY(0);
     }
 }

 p {
     margin: 0;
 }


 app-catalog-service-list {
     position: fixed;
     top: 101px;
     /* Debe estar justo debajo del header */
     left: 0;
     width: 110%;
     height: 50px;
     /* Ajusta la altura del contenedor */
     background: white;
     z-index: 999;
 }