<nz-modal [(nzVisible)]="isVisible" nzTitle="Añadir productos a la sección" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading" [nzMaskClosable]="false" [nzKeyboard]="false" [nzWidth]="'600px'"
    [nzBodyStyle]="{ 'max-height': '400px', 'overflow-y': 'auto' }">

    <ng-container *nzModalContent>
        <nz-list nzItemLayout="horizontal" [nzLoading]="!loading$">
            @for (product of products; track product.id){
            <nz-list-item>
                <nz-list-item-meta [nzAvatar]="(product?.productImages?.length ? product.productImages[0].url : '')"
                    nzDescription="{{product.name}} - (${{product.price}})">
                    <nz-list-item-meta-title>
                        <div style="display: flex; justify-content: space-between;">
                            <nz-switch [ngModel]="product.changedActive"
                                (ngModelChange)="onToggleStatus(product)"></nz-switch>
                            <nz-tag [nzColor]="product.changedActive ? 'success' : 'warning'">{{product.changedActive ?
                                "Activo" :
                                "Inactivo"}}</nz-tag>
                        </div>

                    </nz-list-item-meta-title>
                </nz-list-item-meta>
            </nz-list-item>
            }
            @if (products.length === 0) {
            <nz-list-empty />
            }
        </nz-list>
    </ng-container>

</nz-modal>