.app-layout {
  height: 100vh;
}

nz-layout {
  height: 100vh;
}

nz-sider {
  height: 100%;
  left: 0;
}

nz-content {
  border-left: 10px;
  overflow-y: auto;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  transition: all 0.3s;
  background-color: inherit;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: var(--secondary-color);
  vertical-align: middl + e;
  font-weight: 600;
  font-size: 14px;
  text-overflow: ellipsis;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 68px;
  padding: 0;
  align-items: center;
  background: #fff;
  justify-content: space-between;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

nz-content {
  margin: 24px;
}

.inner-content {
  background: transparent;
  height: auto;
  border-radius: 10px;
}

.nz-sider {
  transition: width 0.3s;
}

.circle-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--secondary-color);
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: var(--primary-color);
}
