<app-encourage />
<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a>
        <!-- <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" /> -->
        <span style="font-size:  25px;">🤖</span>
        <h1>MotobotIA</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Administración" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/user-list">Usuarios</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/brand-list">Marcas</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/category-list">Categorias</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/product-list">Productos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/establishment-list">Establecimientos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/section-list">Secciones</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Citas" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/managment-appointments">Citas</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/service-list">Services</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/motorcycle-issue-list">Inconveniente de motocicleta</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/attribute-list">Características</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/customer-list">Clientes</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <button nz-button nzSize="small" nzType="default" nzShape="circle" (click)="signOut()">
          <span nz-icon nzType="logout" nzTheme="outline"></span>
        </button>
      </div>

    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>