<app-product-section-dialog #productDialog [sectionId]="selectedSectionId"
    (onClose)="onDialogClosed($event)"></app-product-section-dialog>

<app-simple-page-header title="Secciones" searchPlaceholder="Buscar Secciones" (add)=" add()"
    (searchChange)="onSearchChanged($event)"></app-simple-page-header>

<nz-card>
    <nz-table #roleTable [nzData]="sections" nzSize="small" nzTableLayout="fixed"
        [nzScroll]="{ x: responsiveService.isMobile() ? '600px' : '' }" [nzLoading]="loading$.value"
        [nzFrontPagination]="false">
        <thead>
            <tr>
                <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                    {{ column.title }}
                </th>
                <th [nzWidth]="'10%'" style="text-align: center">Productos</th>
                <th [nzWidth]="'15%'" style="text-align: center">Estado</th>
                <th [nzWidth]="'15%'" style="text-align: center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (item of roleTable.data; track item.id) {
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td> {{item.endDate | date: 'dd-MM-yyyy'}} </td>

                <td (click)="openDialog(item.id)">
                    <div class="product-quantity">
                        <nz-tag nzColor="success">{{item.totalProduct ?? 0}}</nz-tag>
                    </div>
                </td>
                <td style="text-align: center">
                    <nz-switch [ngModel]="item.active" [nzLoading]="item.changedActive"
                        (ngModelChange)="onActiveChange(item, $event)"></nz-switch>
                </td>
                <td style="text-align: center">
                    <button nz-button nzSize="small" nzType="default" nzShape="circle" (click)="onEdit(item)">
                        <span nz-icon nzType="edit" nzTheme="outline"></span>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </nz-table>
</nz-card>

<nz-modal [(nzVisible)]="openModal" [nzTitle]="selectedSection ? 'Editar Sección' : 'Crear Sección'"
    (nzOnCancel)="cancel()" (nzOnOk)="saveOrUpdate()">
    <ng-container *nzModalContent>
        <nz-row [nzGutter]="[12, 12]" style="justify-content: center">
            <nz-col nzXs="24" nzMd="20">
                <form nz-form [formGroup]="sectionForm">
                    <nz-row [nzGutter]="[10, 12]">

                        <nz-col nzXs="24" nzMd="24">
                            <nz-form-item>
                                <nz-form-label nzRequired nzSpan="24">Nombre</nz-form-label>
                                <nz-form-control nzErrorTip="Nombre no válido" class="custom-error-tip-left">
                                    <input class="input-radius" type="text" nz-input formControlName="name"
                                        placeholder="Productos Top" />
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>

                        <nz-col nzXs="24" nzMd="24">
                            <nz-form-item>
                                <nz-form-label nzSpan="24">Descripción</nz-form-label>
                                <nz-form-control nzErrorTip="Descripción no válido">
                                    <textarea class="input-radius" formControlName="description" nz-input
                                        [nzAutosize]="{ minRows: 1, maxRows: 4 }"
                                        placeholder="Los mejores del mercado ">
                                    </textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>

                        <nz-col nzXs="12" nzMd="12">
                            <nz-form-item>
                                <nz-form-label nzRequired nzSpan="24">Orden</nz-form-label>
                                <nz-form-control nzErrorTip="Orden no válido">
                                    <nz-select formControlName="sequence" nzPlaceHolder="Seleccione Característica"
                                        style="width: 100%">
                                        <nz-option nzCustomContent [nzValue]="b" [nzLabel]="b"
                                            *ngFor="let b of orderList">
                                            <div class="option-content">
                                                <span class="brand-name">{{ b }}</span>
                                            </div>
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>

                        <nz-col nzXs="12" nzMd="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="24">Fecha Fin</nz-form-label>
                                <nz-form-control nzErrorTip="Descripción no válido">
                                    <nz-date-picker formControlName="end_date"></nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>

                    </nz-row>
                </form>
            </nz-col>
        </nz-row>
    </ng-container>
</nz-modal>