<div class="mt-20"></div>

<div style="margin: 30px; ">
    <nz-row [nzGutter]="16" style="margin: 0;">

        <!-- Contenido a la izquierda -->
        <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="18">
            <h2 style="font-size: 2rem; font-weight: bold; margin-bottom: 10px;">
                {{category?.name}}
            </h2>
            <p style="font-size: 1.2rem; line-height: 1.6; margin-bottom: 20px;">
                {{category?.description ?? ''}}
            </p>
        </nz-col>

        <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="6">
            <nz-select [(ngModel)]="selectedValue" (ngModelChange)="onFilterChange($event)" nzPlaceHolder="Ordenar por"
                style="width: 100%">
                <nz-option nzCustomContent [nzValue]="b.id" [nzLabel]="b.value" *ngFor="let b of listSeverityLeve">
                    <div class="option-content">
                        <span class="brand-name">{{ b.value }}</span>
                    </div>
                </nz-option>
            </nz-select>

        </nz-col>
        <input nz-input placeholder="Buscar productos" nzSize="large" class="mt-5" [(ngModel)]="inputValue"
            (ngModelChange)="onSearchChanged($event)" />

        <nz-divider></nz-divider>

        <nz-col span="24">
            <nz-row [nzGutter]="16" style="margin: 0;">
                <ng-container *ngIf="products.length > 0">
                    <nz-col *ngFor="let product of products" [nzSpan]="8" [nzSm]="12" [nzMd]="6" [nzLg]="6"
                        class="product-card" style="margin-top: 10px;">


                        <nz-card nzHoverable style="width: 100%; margin-bottom: 20px; border-radius: 10px;"
                            [nzCover]="coverTemplate" (click)="navigateTo('/public/home/product-detail/'+product.code)">
                            <nz-card-meta [nzTitle]="' ' +product?.brand?.name "
                                [nzDescription]="''+product.name"></nz-card-meta>

                            <div class="price-container">
                                <div class="discounted-price">
                                    {{ calculateDiscount(product.price, product.percentage) | currency:'USD':'symbol' }}
                                </div>
                                <div class="original-price">
                                    {{ product.price | currency:'USD':'symbol' }}
                                </div>
                            </div>

                        </nz-card>

                        <ng-template #coverTemplate>
                            <div style="padding: 5px;">
                                <img alt="product" [src]="product.productImages[0].url" class="product-image"
                                    style="width: 100%; height: auto; object-fit: cover; border-radius: 10px;" />
                            </div>
                        </ng-template>

                    </nz-col>
                </ng-container>


            </nz-row>
        </nz-col>

    </nz-row>
</div>


@if(products.length == 0){
<app-empty-data />
}